# Eclipse / STM32CubeIDE
.metadata/
.settings/
*.prefs
*.log
*.ide.log
*.build.log
*.bin

# CubeIDE generated artifacts
**/Debug/
**/Release/
*.elf
*.map
*.list
*.o
*.d
*.su
*.mk
*.cyclo
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/1.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/10.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/2.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/3.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/4.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/5.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/6.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/7.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/8.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/9.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/1.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/10.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/2.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/3.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/4.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/5.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/6.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/7.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/8.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/9.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Ruth/pin.txt
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/pin.txt
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/all_faces/Ruth/embeddings_Ruth.txt
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/all_faces/manifest.txt
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/all_faces/Keti/embeddings_Keti.txt
