# Eclipse / STM32CubeIDE
.metadata/
.settings/
*.prefs
*.log
*.ide.log
*.build.log
*.bin

# CubeIDE generated artifacts
**/Debug/
**/Release/
*.elf
*.map
*.list
*.o
*.d
*.su
*.mk
*.cyclo
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/1.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/10.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/2.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/3.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/4.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/5.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/6.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/7.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/8.jpg
STM32CubeIDE/STM32N6570-DK/Src/Pipeline_FaceRecognition/UserFace/Automation/Keti/9.jpg
